@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.location {
    background-color: #45576d;
    color: rgb(252, 252, 252);
    padding: 50px 20px;
  }

  .location h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lobster', cursive; 
  }
  
  /* Layout flexbox */
  .location-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Texto no lado esquerdo */
  .location-text {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Poppins', cursive; 
  }

  .location-text ul {
    list-style-type: none; /* Remove os pontos/ícones dos itens da lista */
    padding-left: 0; /* Remove o padding à esquerda */
}

  .location-text li {
    font-size: 20px;
    margin-bottom: 10px; /* Adiciona um espaço entre os itens */
  }

  
  /* Imagem no lado direito */
  .location-image {
    flex: 1;
    text-align: center;
  }
  
  .location-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  